/****************************************************************
  PRE-MAIN
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  min-width: 329px; /* navbar */
}

/****************************************************************
    NAVBAR
*/
#navbar .navbar-default.ms_nav {
  border: none;
  margin-bottom: 0;
}
#navbar .navbar-default.ms_nav {
  background-color: white;
  background-image: none;
  box-shadow: none;
}
/* logo */
#navbar .navbar-default.ms_nav .navbar-brand {
  padding: 12px 15px;
}
#navbar .navbar-default.ms_nav .navbar-brand img {
  height: 100%;
  margin-right: 70px;
}
/* link text */
#navbar .navbar-default.ms_nav .navbar-nav>li>a {
  font-weight: 700;
  padding: 15px 12px;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a:not(.ms_btn) {
  color: #102657;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a:not(.ms_btn):hover {
  color: #0063FF;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a .fas {
  font-size: 1.3em;
}
/* login button */
#navbar .navbar-default.ms_nav .navbar-nav>li>a.ms_btn {
  padding: 8px;
  border: 1px solid #006AFF;
  border-radius: 3px;
  margin-top: 9px;
  line-height: 100%;
  color: #006AFF;
  transition: background-color 0.3s ease 0.1s;
  transition: color 0.3s ease 0s;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a.ms_btn:hover {
  color: white;
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .btn-group-lg>.btn.ms_btn, .btn-lg.ms_btn {
  font-size: inherit;
}
/* toggle nav */
#navbar .navbar-default.ms_nav .navbar-toggle {
  border: none;
  margin-top: 7px;
  margin-bottom: 7px;
}
#navbar .navbar-default.ms_nav .navbar-toggle:hover {
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar {
  width: 22px;
  height: 4px;
  border-radius: 3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar {
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .navbar-toggle:hover .icon-bar {
  background-color: white;
}

/****************************************************************
    JUMBOTRON
*/
#jumbotron {
  background-image: url("../img/jumbo_bg.svg");
  background-size: 100%;
}
#jumbotron .ms_payoff {
  /* padding-top: 20px; */
  /* padding-right: 30px; */
}
#jumbotron .ms_text1 {
  display: inline-block;
  color: #ffffffc4;
  margin-bottom: 20px;
}
#jumbotron .ms_login_box {
  padding: 15px 10px 20px;
  border-radius: 5px;
  background-color: white;
}
#jumbotron .ms_login_box h3.ms_text2:nth-child(2) {
  margin-top: 10px;
  color: #0063FF;
}
#jumbotron .ms_login_box .form-group {
    margin-bottom: 10px;
}
#jumbotron .ms_login_box .form-control {
  font-size: 1.1em;
  border: 1px solid rgb(0 0 0 / 8%);
  box-shadow: none;
}
#jumbotron .ms_login_box .btn.ms_btn {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: #3985ff;
  padding: 5px 12px;
  font-size: 1em;
  border-radius: 3px;
}
#jumbotron .ms_login_box .btn.ms_btn:last-child {
  color: inherit;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgb(0 0 0 / 8%);
  box-shadow: 1px 1px 1px rgb(0 0 0 / 8%);
}
#jumbotron .ms_login_box .btn.ms_btn:last-child img {
  width: 12px;
}
#jumbotron .ms_login_box .btn.ms_btn:last-child div {
  position: relative;
  left: -5px;
  text-align: center;
}
#jumbotron .ms_login_box .ms_text_small_1 a {
  text-decoration: underline;
  color: #0063FF;
}

/****************************************************************
    STYICKY THINGS
*/

#sticky {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  z-index: 9999;
  width: 100px;
  height: 100px;
}

/****************************************************************
    COMPONENTS
*/
.ms_payoff {
  font-size: 4em;
  font-weight: 600;
}
.ms_text1 {
  font-size: 1.5em;
  /* font-weight: 500; */
}
.ms_text2 {
  font-size: 1.8em;
  font-weight: 700;
}
.ms_text_small_1 {
  font-size: 0.9em;
  font-weight: 600; 
}

/****************************************************************
    UTILITY
*/

/* invariant centered wrappers */
.ms_w80c { width: 80%; }
.ms_w70c { width: 70%; }
.ms_w60c { width: 60%; }
.ms_w50c { width: 50%; }
/* covariant centered wrappers */
.ms_w1c { width: 430px; }
.ms_w2c { width: 430px; }
/* centering wrappers */
[class^="ms_w"][class$="c"] { margin: 0 auto; }
/* background colors */
.ms_bg_white { background-color: white; }
.ms_bg_grey1 { background-color: #F3F5F9; }
.ms_bg_blue1 { background-color: #0063FF; }
.ms_bg_blue2 { background-color: #102657; }
.ms_bg_blue3 { background-color: #031B4E; }
/* text colors */
.ms_tx_white { color: white; }
.ms_tx_blue1 { color: #0063FF; }
.ms_tx_blue2 { color: #102657; }
/* standard vertical paddings */
.ms_padding_vert_std {
padding-top: 100px;
padding-bottom: 100px;
}
.ms_padding_vert_medium {
  padding-top: 60px;
  padding-bottom: 60px;
}
  .ms_padding_vert_small {
padding-top: 30px;
padding-bottom: 30px;
}
.float_l { float: left; }
.float_r { float: right; }
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/****************************************************************
  MEDIA QUERIES
*/

/* XS default */
#sticky {
  left: 0;
  background-color: yellow;
}
  
/* SM >= 768 */
@media screen and (min-width: 768px) {

}
/* MD >= 992 */
@media screen and (min-width: 992px) {
  #sticky {
    right: 0;
    background-color: green;
  }
}
/* LG >= 1200 */
@media screen and (min-width: 1200px) {

}
  
  
  
  
  








/****************************************************************
    D E B U G
*/

/* .debug [class*="container-"] {
  border: 1px solid green;
} */
.debug [class="row"] {
    border: 1px solid red;
  }
  .debug [class*="col-"] {
    position: relative;
    background-color: pink;
    border: 1px solid black;
    /* height: 80px; */
  }
  .debug [class*="col-"]::before {
    content: "default";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    font-size: 10px;
    color: white;
    min-width: 24px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
  }
  .debug [class*="col-xs-1"]::before { content: "xs-1"; line-height: 100%; }
  .debug [class*="col-xs-2"]::before { content: "xs-2"; line-height: 100%; }
  .debug [class*="col-xs-3"]::before { content: "xs-3"; line-height: 100%; }
  .debug [class*="col-xs-4"]::before { content: "xs-4"; line-height: 100%; }
  .debug [class*="col-xs-5"]::before { content: "xs-5"; line-height: 100%; }
  .debug [class*="col-xs-6"]::before { content: "xs-6"; line-height: 100%; }
  .debug [class*="col-xs-7"]::before { content: "xs-7"; line-height: 100%; }
  .debug [class*="col-xs-8"]::before { content: "xs-8"; line-height: 100%; }
  .debug [class*="col-xs-9"]::before { content: "xs-9"; line-height: 100%; }
  .debug [class*="col-xs-10"]::before { content: "xs-10"; line-height: 100%; }
  .debug [class*="col-xs-11"]::before { content: "xs-11"; line-height: 100%; }
  .debug [class*="col-xs-12"]::before { content: "xs-12"; line-height: 100%; }
  @media screen and (min-width: 768px) {
    .debug [class*="col-sm-1"]::before { content: "sm-1"; line-height: 100%; }
    .debug [class*="col-sm-2"]::before { content: "sm-2"; line-height: 100%; }
    .debug [class*="col-sm-3"]::before { content: "sm-3"; line-height: 100%; }
    .debug [class*="col-sm-4"]::before { content: "sm-4"; line-height: 100%; }
    .debug [class*="col-sm-5"]::before { content: "sm-5"; line-height: 100%; }
    .debug [class*="col-sm-6"]::before { content: "sm-6"; line-height: 100%; }
    .debug [class*="col-sm-7"]::before { content: "sm-7"; line-height: 100%; }
    .debug [class*="col-sm-8"]::before { content: "sm-8"; line-height: 100%; }
    .debug [class*="col-sm-9"]::before { content: "sm-9"; line-height: 100%; }
    .debug [class*="col-sm-10"]::before { content: "sm-10"; line-height: 100%; }
    .debug [class*="col-sm-11"]::before { content: "sm-11"; line-height: 100%; }
    .debug [class*="col-sm-12"]::before { content: "sm-12"; line-height: 100%; }
  }
  @media screen and (min-width: 992px) {
    .debug [class*="col-md-1"]::before { content: "md-1"; line-height: 100%; }
    .debug [class*="col-md-2"]::before { content: "md-2"; line-height: 100%; }
    .debug [class*="col-md-3"]::before { content: "md-3"; line-height: 100%; }
    .debug [class*="col-md-4"]::before { content: "md-4"; line-height: 100%; }
    .debug [class*="col-md-5"]::before { content: "md-5"; line-height: 100%; }
    .debug [class*="col-md-6"]::before { content: "md-6"; line-height: 100%; }
    .debug [class*="col-md-7"]::before { content: "md-7"; line-height: 100%; }
    .debug [class*="col-md-8"]::before { content: "md-8"; line-height: 100%; }
    .debug [class*="col-md-9"]::before { content: "md-9"; line-height: 100%; }
    .debug [class*="col-md-10"]::before { content: "md-10"; line-height: 100%; }
    .debug [class*="col-md-11"]::before { content: "md-11"; line-height: 100%; }
    .debug [class*="col-md-12"]::before { content: "md-12"; line-height: 100%; }
  }
  @media screen and (min-width: 1200px) {
    .debug [class*="col-lg-1"]::before { content: "lg-1"; line-height: 100%; }
    .debug [class*="col-lg-2"]::before { content: "lg-2"; line-height: 100%; }
    .debug [class*="col-lg-3"]::before { content: "lg-3"; line-height: 100%; }
    .debug [class*="col-lg-4"]::before { content: "lg-4"; line-height: 100%; }
    .debug [class*="col-lg-5"]::before { content: "lg-5"; line-height: 100%; }
    .debug [class*="col-lg-6"]::before { content: "lg-6"; line-height: 100%; }
    .debug [class*="col-lg-7"]::before { content: "lg-7"; line-height: 100%; }
    .debug [class*="col-lg-8"]::before { content: "lg-8"; line-height: 100%; }
    .debug [class*="col-lg-9"]::before { content: "lg-9"; line-height: 100%; }
    .debug [class*="col-lg-10"]::before { content: "lg-10"; line-height: 100%; }
    .debug [class*="col-lg-11"]::before { content: "lg-11"; line-height: 100%; }
    .debug [class*="col-lg-12"]::before { content: "lg-12"; line-height: 100%; }
  }
  