/****************************************************************
  PRE-MAIN
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  /* min-width: 297px;  */
  /* navbar */
}

/****************************************************************
    NAVBAR
*/
#navbar .navbar-default.ms_nav {
  border: none;
  margin-bottom: 0;
}
#navbar .navbar-default.ms_nav {
  background-color: white;
  background-image: none;
  box-shadow: none;
}
/* logo */
#navbar .navbar-default.ms_nav .navbar-brand {
  padding: 12px 15px;
}
#navbar .navbar-default.ms_nav .navbar-brand img.logo1 {
  height: 100%;
  margin-right: 70px;
}
#navbar .navbar-default.ms_nav .navbar-brand img.logo2 {
  display:none;
  height: 100%;
  padding: 1px;
}
/* link text */
#navbar .navbar-default.ms_nav .navbar-nav>li>a {
  font-weight: 700;
  padding: 15px 12px;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a:not(.ms_btn) {
  color: #102657;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a:not(.ms_btn):hover {
  color: #0063FF;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a .fas {
  font-size: 1.3em;
}
/* login button */
#navbar .navbar-default.ms_nav .navbar-nav>li>a.ms_btn {
  padding: 8px;
  border: 1px solid #006AFF;
  border-radius: 3px;
  margin-top: 9px;
  margin-right: 15px;
  line-height: 100%;
  color: #006AFF;
}
#navbar .navbar-default.ms_nav .navbar-nav>li>a.ms_btn:hover {
  color: white;
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .btn-group-lg>.btn.ms_btn, .btn-lg.ms_btn {
  font-size: inherit;
}
/* toggle nav */
#navbar .navbar-default.ms_nav .navbar-toggle {
  border: none;
  margin-top: 7px;
  margin-right: 5px;
  margin-bottom: 7px;
}
#navbar .navbar-default.ms_nav .navbar-toggle:hover {
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar {
  width: 22px;
  height: 4px;
  border-radius: 3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .icon-bar {
  background-color: #006AFF;
}
#navbar .navbar-default.ms_nav .navbar-toggle:hover .icon-bar {
  background-color: white;
}

/****************************************************************
    JUMBOTRON
*/
#jumbotron {
  margin-top: 50px;
  background-image: url("../img/jumbo_bg.svg");
  background-size: 100%;
}
#jumbotron .ms_payoff {
  /* padding-top: 20px; */
  /* padding-right: 30px; */
}
#jumbotron .ms_text1 {
  display: inline-block;
  color: #ffffffc4;
  margin-bottom: 20px;
}
#jumbotron .ms_login_box {
  padding: 15px 10px 20px;
  border-radius: 5px;
  background-color: white;
}
#jumbotron .ms_login_box h3.ms_text2:nth-child(2) {
  margin-top: 10px;
  color: #0063FF;
}
#jumbotron .ms_login_box .form-group {
    margin-bottom: 10px;
}
#jumbotron .ms_login_box .form-control {
  font-size: 1.1em;
  border: 1px solid rgb(0 0 0 / 8%);
  box-shadow: none;
}
#jumbotron .ms_login_box .btn.ms_btn {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: #3985ff;
  padding: 5px 12px;
  font-size: 1em;
  border-radius: 3px;
}
#jumbotron .ms_login_box .btn.ms_btn:last-child {
  color: inherit;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgb(0 0 0 / 8%);
  box-shadow: 1px 1px 1px rgb(0 0 0 / 8%);
}
#jumbotron .ms_login_box .btn.ms_btn:last-child img {
  width: 12px;
}
#jumbotron .ms_login_box .btn.ms_btn:last-child div {
  position: relative;
  left: -5px;
  text-align: center;
}
#jumbotron .ms_login_box .ms_text_small a {
  text-decoration: underline;
  color: #0063FF;
}

/****************************************************************
    SPONSORS
*/
#sponsors img {
  max-width: 100%;
  height: 100%;
}
#sponsors h3 {
  font-size: 1.1em;
  font-weight: 700;
}

/****************************************************************
    DEPLOY
*/
#deploy span {
  display: inline-block;
  margin-bottom: 30px;
}
#deploy ul {
  list-style: none;
  line-height: 2.2em;
  padding-left: 15px;
  border-left: 1px solid #868686;
  margin-bottom: 30px;
}
#deploy .ms_box {
  padding-bottom: 20px;
}
#deploy img {
  height: 30px;
}

/****************************************************************
    DESIGNED & DEVELOPMENT
*/
#designed .ms_text1,
#development .ms_text2 {
  display: inline-block;
  margin-bottom: 30px;
}
#designed img,
#development img {
  max-width: 100%;
  max-height: 100%;
}
#designed [class*="fa-angle"],
#development [class*="fa-angle"] {
  margin-top: 110px;
  font-size: 3em;
}
#development [class*="fa-angle"] {
  margin-top: 180px;
}
#designed .ms_btn_dot,
#development .ms_btn_dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0px 2px;
  background-color: transparent;
  border: 2px solid #0063FF;
}
#development .ms_btn_dot {
  margin-top: 30px;
}
#designed .ms_btn_dot.selected,
#development .ms_btn_dot.selected {
  background-color: #0063FF;
}
#development .ms_box {
  width: 100%;
}
#development .ms_box img {
  display: block;
  padding: 0 20%;
  padding-top: 60px;
  width: 100%;
}
#development .ms_box .ms_text4 {
  display: block;
  padding: 20px 10px;
}
#development .ms_box .fa-quote-left {
  font-size: 25px;
}
#development .ms_box .fa-quote-right {
  font-size: 8px;
}
#development .ms_box .ms_text_small {
  display: block;
  padding: 20px 0;
}

/****************************************************************
    FEATURES
*/
#features a,
#features .ms_text2 {
  display: inline-block;
  margin-bottom: 20px;
}
#features img {
  height: 30px;
}

/****************************************************************
    SERVICE
*/
#service {
  background-image: linear-gradient(#0136e6, #1100ad);
}
#service .table > tbody > tr:first-child > td {
  border-top: none;
}
#service .table a:hover {
  color: white;
}

/****************************************************************
    GETSTARTED
*/
#getstarted {
  background-image: linear-gradient(#0136e6, #1100ad);
}
#getstarted .btn.ms_btn {
  padding: 6px 10px;
  margin-top: 10px;
  font-weight: bold;
}
#getstarted .btn.ms_btn:hover {
  color: white;
  border: 1px solid white;
  background-color: #0136e6;
}

/****************************************************************
    FOOTER
*/
footer img {
  height: 40px;
}
footer img + div {
  padding-top: 10px;
}
footer img + div + div {
  color: #646464;
  padding-bottom: 10px;
}
footer ul.ms_social .fab {
  color: #a1a1a1;
  font-size: 1.4em;
  margin-bottom: 20px;
}
footer ul:not(.ms_social) li a {
  color: #a1a1a1;
  line-height: 2.3em;
}
footer ul li:first-child {
  color: white;
  font-weight: bold;
}

/****************************************************************
    STICKY FISH
*/
#sticky {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 9999;
}
#sticky .ms_box {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 8px;
  margin: 0 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#sticky img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
}
#sticky .ms_bubble {
  position: relative;
  width: 250px;
  height: 55px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#sticky .ms_bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  top: 30px;
}
#sticky .ms_bubble.ms_bleft:after {
  border-width: 8px 0 8px 15px;
  right: -15px;
}
#sticky .ms_bubble.ms_bright:after {
  border-width: 8px 15px 8px 0;
  left: -15px;
}
#sticky .ms_bubble:before {
  content: "Can I help answer any questions you have about DigitalOcean?";
  font-weight: 600;
}
#sticky .ms_bubble.ms_bleft {
  display: none;
}
#sticky .ms_bubble.ms_bright {
  display: block;
}

/*************************************
    MENU OVERLAY
*/
#navbar .navbar-default.ms_nav .navbar-toggle .overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 55px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 500px;
  transition: all 0.2s ease 0s;
}
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.7%,-50%);
  width: 97%;
  height: 100%;
  background-color: white;
  padding: 10%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content .fa-quote-left {
  font-size: 4em;
}
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content div+div {
  margin-top: 30px;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl {
  display: none;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .overlay {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease 0s;
}
#navbar .navbar-default.ms_nav .navbar-toggle {
  padding: 9px 10px 0px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .ms_visible_btn:hover {
  cursor: pointer;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl + label .ms_close {
  display: none;
  color: white;
  line-height: 23px;
  font-size: 1.9em;
  padding: 0 3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .ms_open {
  display: none;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .ms_close {
  display: block;
}

/****************************************************************
    TEXTS
*/
.ms_payoff {
  font-size: 3em;
  font-weight: 600;
}
.ms_text2 {
  font-size: 1.5em;
  font-weight: 700;
}
.ms_text1 {
  font-size: 1.1em;
  /* font-weight: 500; */
}
.ms_text3 {
  font-size: 1.2em;
  font-weight: 700;
}
.ms_text4 {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5em;
}
.ms_text_small {
  font-size: 0.9em;
  font-weight: 600; 
}

/****************************************************************
    UTILITY
*/

/* invariant centered wrappers */
.ms_w80c { width: 80%; }
.ms_w70c { width: 70%; }
.ms_w60c { width: 60%; }
.ms_w50c { width: 50%; }
/* covariant centered wrappers */
.ms_w1c { width: 430px; }
.ms_w2c { width: 430px; }
/* centering wrappers */
[class^="ms_w"][class$="c"] { margin: 0 auto; }
/* background colors */
.ms_bg_white { background-color: white; }
.ms_bg_grey1 { background-color: #F3F5F9; }
.ms_bg_blue1 { background-color: #0063FF; }
.ms_bg_blue2 { background-color: #102657; }
.ms_bg_blue3 { background-color: #031B4E; }
/* text colors */
.ms_tx_white { color: white; }
.ms_tx_blue1 { color: #0063FF; }
.ms_tx_blue2 { color: #102657; }
.ms_tx_grey1 { color: #868686; }
.ms_tx_acqua { color: #00ccff; }
/* vertical paddings */
.ms_padding_vert_big    { padding-top: 100px; padding-bottom: 100px; }
.ms_padding_vert_medium { padding-top:  60px; padding-bottom:  60px; }
.ms_padding_vert_small  { padding-top:  30px; padding-bottom:  30px; }
.ms_padding_vert_min    { padding-top:  10px; padding-bottom:  10px; }
.ms_float_l { float: left; }
.ms_float_r { float: right; }
.ms_clearfix {
  content: "";
  display: table;
  clear: both;
}
.ms_btn_trans {
  transition: background-color 0.3s ease 0.2s;
  transition: color 0.2s ease 0s;
}

/****************************************************************
  MEDIA QUERIES
*/

/* mini logo */
@media screen and (max-width: 297px) {
  #navbar .navbar-default.ms_nav .navbar-brand img.logo1 {
    display: none;
  }
  #navbar .navbar-default.ms_nav .navbar-brand img.logo2 {
    display: inline-block;
  }
}

/* XS default - SEE ABOVE */

/************************************* SM >= 768 */
@media screen and (min-width: 768px) {

  .ms_payoff {
    font-size: 3.5em;
    font-weight: 600;
  }
  .ms_text1 {
    font-size: 1.3em;
    /* font-weight: 500; */
  }
  .ms_text2 {
    font-size: 2em;
    font-weight: 700;
  }  
  .ms_text4 {
    font-size: 2em;
    line-height: 1.5em;
  }
    
}
/************************************* MD >= 992 */
@media screen and (min-width: 992px) {

  #sticky {
    right: 0;
    left: unset;
  }
  #sticky .ms_bubble.ms_bleft {
    display: block;
  }
  #sticky .ms_bubble.ms_bright {
    display: none;
  }
  #designed [class*="fa-angle"] {
    margin-top: 150px;
    font-size: 3em;
  }
  #development [class*="fa-angle"] {
    margin-top: 160px;
  }
  
}
/************************************* LG >= 1200 */
@media screen and (min-width: 1200px) {

  #designed [class*="fa-angle"] {
    margin-top: 180px;
    font-size: 3em;
  }
  #development [class*="fa-angle"] {
    margin-top: 150px;
  }
  
  
}

/****************************************************************
    D E B U G
*/

/* .debug [class*="container-"] {
  border: 1px solid green;
} */
.debug [class="row"] {
    border: 1px solid red;
}
.debug [class*="col-"] {
  position: relative;
  background-color: pink;
  border: 1px solid black;
  /* height: 80px; */
}
.debug [class*="col-"]::before {
  content: "default";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99999;
  font-size: 10px;
  color: white;
  min-width: 24px;
  text-align: center;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}
.debug [class*="col-xs-1"]::before { content: "xs-1"; line-height: 100%; }
.debug [class*="col-xs-2"]::before { content: "xs-2"; line-height: 100%; }
.debug [class*="col-xs-3"]::before { content: "xs-3"; line-height: 100%; }
.debug [class*="col-xs-4"]::before { content: "xs-4"; line-height: 100%; }
.debug [class*="col-xs-5"]::before { content: "xs-5"; line-height: 100%; }
.debug [class*="col-xs-6"]::before { content: "xs-6"; line-height: 100%; }
.debug [class*="col-xs-7"]::before { content: "xs-7"; line-height: 100%; }
.debug [class*="col-xs-8"]::before { content: "xs-8"; line-height: 100%; }
.debug [class*="col-xs-9"]::before { content: "xs-9"; line-height: 100%; }
.debug [class*="col-xs-10"]::before { content: "xs-10"; line-height: 100%; }
.debug [class*="col-xs-11"]::before { content: "xs-11"; line-height: 100%; }
.debug [class*="col-xs-12"]::before { content: "xs-12"; line-height: 100%; }
@media screen and (min-width: 768px) {
  .debug [class*="col-sm-1"]::before { content: "sm-1"; line-height: 100%; }
  .debug [class*="col-sm-2"]::before { content: "sm-2"; line-height: 100%; }
  .debug [class*="col-sm-3"]::before { content: "sm-3"; line-height: 100%; }
  .debug [class*="col-sm-4"]::before { content: "sm-4"; line-height: 100%; }
  .debug [class*="col-sm-5"]::before { content: "sm-5"; line-height: 100%; }
  .debug [class*="col-sm-6"]::before { content: "sm-6"; line-height: 100%; }
  .debug [class*="col-sm-7"]::before { content: "sm-7"; line-height: 100%; }
  .debug [class*="col-sm-8"]::before { content: "sm-8"; line-height: 100%; }
  .debug [class*="col-sm-9"]::before { content: "sm-9"; line-height: 100%; }
  .debug [class*="col-sm-10"]::before { content: "sm-10"; line-height: 100%; }
  .debug [class*="col-sm-11"]::before { content: "sm-11"; line-height: 100%; }
  .debug [class*="col-sm-12"]::before { content: "sm-12"; line-height: 100%; }
}
@media screen and (min-width: 992px) {
  .debug [class*="col-md-1"]::before { content: "md-1"; line-height: 100%; }
  .debug [class*="col-md-2"]::before { content: "md-2"; line-height: 100%; }
  .debug [class*="col-md-3"]::before { content: "md-3"; line-height: 100%; }
  .debug [class*="col-md-4"]::before { content: "md-4"; line-height: 100%; }
  .debug [class*="col-md-5"]::before { content: "md-5"; line-height: 100%; }
  .debug [class*="col-md-6"]::before { content: "md-6"; line-height: 100%; }
  .debug [class*="col-md-7"]::before { content: "md-7"; line-height: 100%; }
  .debug [class*="col-md-8"]::before { content: "md-8"; line-height: 100%; }
  .debug [class*="col-md-9"]::before { content: "md-9"; line-height: 100%; }
  .debug [class*="col-md-10"]::before { content: "md-10"; line-height: 100%; }
  .debug [class*="col-md-11"]::before { content: "md-11"; line-height: 100%; }
  .debug [class*="col-md-12"]::before { content: "md-12"; line-height: 100%; }
}
@media screen and (min-width: 1200px) {
  .debug [class*="col-lg-1"]::before { content: "lg-1"; line-height: 100%; }
  .debug [class*="col-lg-2"]::before { content: "lg-2"; line-height: 100%; }
  .debug [class*="col-lg-3"]::before { content: "lg-3"; line-height: 100%; }
  .debug [class*="col-lg-4"]::before { content: "lg-4"; line-height: 100%; }
  .debug [class*="col-lg-5"]::before { content: "lg-5"; line-height: 100%; }
  .debug [class*="col-lg-6"]::before { content: "lg-6"; line-height: 100%; }
  .debug [class*="col-lg-7"]::before { content: "lg-7"; line-height: 100%; }
  .debug [class*="col-lg-8"]::before { content: "lg-8"; line-height: 100%; }
  .debug [class*="col-lg-9"]::before { content: "lg-9"; line-height: 100%; }
  .debug [class*="col-lg-10"]::before { content: "lg-10"; line-height: 100%; }
  .debug [class*="col-lg-11"]::before { content: "lg-11"; line-height: 100%; }
  .debug [class*="col-lg-12"]::before { content: "lg-12"; line-height: 100%; }
}
  