/*************************************
    MENU OVERLAY
*/
#navbar .navbar-default.ms_nav .navbar-toggle .overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 55px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 500px;
  transition: all 0.2s ease 0s;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl {
  display: none;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .overlay {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease 0s;
}
#navbar .navbar-default.ms_nav .navbar-toggle {
  padding: 0;
}
#navbar .navbar-default.ms_nav .navbar-toggle .ms_visible_btn:hover {
  cursor: pointer;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl + label {
  padding: 0;
  margin: 0;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl + label .ms_open {
  padding: 10px;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl + label .ms_close {
  display: none;
  line-height: 23px;
  font-size: 1.9em;
  padding: 10px 13px;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .ms_open {
  display: none;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label .ms_close {
  display: block;
  color: #0063FF;
}
#navbar .navbar-default.ms_nav .navbar-toggle #btnControl:checked + label:hover .ms_close {
  color: white;
}
#navbar .navbar-default.ms_nav .navbar-toggle {
  border: none;
  margin-top: 7px;
  margin-right: 5px;
  margin-bottom: 0 !important;
}

/* overlay content */
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.3%,-50%);
  width: 96%;
  height: 100%;
  background-color: white;
  padding: 10%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content .fa-quote-left {
  font-size: 4em;
}
#navbar .navbar-default.ms_nav .navbar-toggle .overlay .ovarlay_content div+div {
  margin-top: 30px;
}

/****************************************************************
    STICKY FISH
*/
#sticky {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 9999;
  animation: left 1s ease-out 0.3s 1 alternate;
}
#sticky .ms_box {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 8px;
  margin: 0 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#sticky img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
}
#sticky .ms_bubble {
  position: relative;
  width: 250px;
  height: 55px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#sticky .ms_bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  top: 30px;
}
#sticky .ms_bubble.ms_bleft:after {
  border-width: 8px 0 8px 15px;
  right: -15px;
}
#sticky .ms_bubble.ms_bright:after {
  border-width: 8px 15px 8px 0;
  left: -15px;
}
#sticky .ms_bubble:before {
  content: "Can I help answer any questions you have about DigitalOcean?";
  font-weight: 600;
}
#sticky .ms_bubble.ms_bleft {
  display: none;
}
#sticky .ms_bubble.ms_bright {
  display: block;
}

/****************************************************************
    ANIMATIONS
*/
@keyframes left {
  0%   {left: 0;}
  25%  {left: 50px:}
  50%  {left: 100px;}
}
@keyframes right {
  0%   {right: 0;}
  25%  {right: 50px:}
  50%  {right: 100px;}
}

/****************************************************************
  MEDIA QUERIES
*/

/* XS default - SEE ABOVE */

/************************************* SM >= 768 */
@media screen and (min-width: 768px) {

}

/************************************* MD >= 992 */
@media screen and (min-width: 992px) {

  #sticky {
    right: 0;
    left: unset;
    animation: right 1s ease-out 0.3s 1 alternate;
  }
  #sticky .ms_bubble.ms_bleft {
    display: block;
  }
  #sticky .ms_bubble.ms_bright {
    display: none;
  }

}
/************************************* LG >= 1200 */
@media screen and (min-width: 1200px) {
  
}
